<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
      http://www.springframework.org/schema/context  
      http://www.springframework.org/schema/context/spring-context.xsd  
      http://www.springframework.org/schema/mvc  
      http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
    <!-- 启动注解驱动的Spring MVC功能，注册请求url和注解POJO类方法的映射 -->
    <mvc:annotation-driven/>
    <!-- 启动包扫描功能，以便注册带有@Controller、@Service、@repository、@Component等注解的类成为spring的bean -->
    <context:component-scan base-package="com.flexiblecms.web.controller"/>

    <!--后台管理静态文件配置-->
    <mvc:resources mapping="/admin/easyui/themes/**" location="/WEB-INF/views/admin/easyui/themes/" />
    <mvc:resources mapping="/admin/easyui/js/**" location="/WEB-INF/views/admin/easyui/js/" />
    <mvc:resources mapping="/admin/easyui/css/**" location="/WEB-INF/views/admin/easyui/css/" />
    <mvc:resources mapping="/admin/js/**" location="/WEB-INF/views/admin/js/" />
    <mvc:resources mapping="/admin/images/**" location="/WEB-INF/views/admin/images/" />
    <mvc:resources mapping="/admin/css/**" location="/WEB-INF/views/admin/css/" />

    <mvc:resources mapping="/admin/*" location="/WEB-INF/views/admin/" />



    <mvc:resources mapping="/site/**" location="/WEB-INF/views/site/"/>





    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="order" value="0"/>

        <property name="mediaTypes">
            <map>
                <entry key="json" value="application/json"/>
                <entry key="xml" value="application/xml"/>
                <entry key="rss" value="application/rss+xml"/>
            </map>
        </property>

        <property name="defaultViews">
            <list>
                <!-- JSON View -->
                <bean
                        class="org.springframework.web.servlet.view.json.MappingJacksonJsonView">
                </bean>


            </list>
        </property>
        <property name="ignoreAcceptHeader" value="true"/>

    </bean>


    <bean id="velocityConfigurer" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/views/"/>
        <property name="velocityProperties">
            <props>
                <prop key="input.encoding">UTF-8</prop>
                <prop key="output.encoding">UTF-8</prop>
                <prop key="contentType">text/html;charset=UTF-8</prop>
            </props>
        </property>

    </bean>


    <bean
            class="org.springframework.web.servlet.view.velocity.VelocityViewResolver"
            >
        <property name="order" value="1"/>
        <property name="contentType">
            <value>text/html;charset=UTF-8</value>
        </property>

        <property name="suffix">
            <value>.html</value>
        </property>
        <property name="exposeRequestAttributes" value="true" /><!-- 暴露request属性 -->
        <!--<property name="requestContextAttribute"><value>rc</value></property>-->
        <property name="toolboxConfigLocation"><value>/WEB-INF/velocity-toolbox.xml</value></property>


    </bean>



    <bean
            class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">

    </bean>


</beans>